<div class="sidepanel">
    <div class="header">
        <p-button label="Create" severity="secondary" [rounded]="true"
            icon="pi pi-sparkles" [raised]="true" (onClick)="showCreateDialog()"></p-button>
    </div>
    <div class="content">
        <ul class="menu-list">
            <li class="row" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <i class="pi pi-check-circle"></i>
                <span>All tasks</span>
            </li>
            <li class="row" [routerLink]="['/my-day']" routerLinkActive="active">
                <i class="pi pi-sun"></i>
                <span>My Day</span>
            </li>
            <li class="row" routerLink="/starred" routerLinkActive="active">
                <i class="pi pi-star"></i>
                <span>Starred</span>
            </li>
        </ul>
        <div class="lists">
            <div class="lists-header">
                <div class="title">Lists</div>
                <i [ngClass]="listsExpanded ? 'pi pi-angle-up' : 'pi pi-angle-down'"
                    (click)="listsExpanded = !listsExpanded"></i>
            </div>
            <div class="lists-content" [ngClass]="{ 'expanded': listsExpanded}">
                <div class="checkbox-wrapper row" *ngFor="let list of lists">
                    <p-checkbox [label]="list.label" name="lists-group" [value]="list.id" [(ngModel)]="selectedLists"
                        (onChange)="onCheckboxToggle($event)"></p-checkbox>
                </div>
            </div>
        </div>
        <ul class="action-list">
            <li class="row" (click)="newListModalVisible = true">
                <i class="pi pi-plus"></i>
                <span>Create new list</span>
            </li>
        </ul>
        <div class="generate-mocks">
            <p-button label="Generate mocks" severity="contrast" [raised]="true" [text]="true" [rounded]="true" (click)="generateMocks()"></p-button>
        </div>
        <div class="clean-data">
            <p-button label="Delete mocks" severity="danger" [raised]="true" [text]="true" [rounded]="true" (click)="deleteMocks()"></p-button>
        </div>
    </div>
</div>

<app-create-edit-list-modal [visible]="newListModalVisible"
    (dismiss)="newListModalVisible = false"></app-create-edit-list-modal>