.sidepanel {
    padding: 30px 16px;
    user-select: none;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding: 7px 16px;

    &::ng-deep {
        .p-button {
            width: 10rem;
        }
    }
}

.content {
    font-weight: 500;

    i {
        font-size: 1.275rem;
    }

    .action-list {
        margin-top: 10px;
    }

    .menu-list,
    .action-list,
    .lists-content {
        padding: 0;
        margin: 0;
        .row {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 3px;
            padding: 7px 16px;
            cursor: pointer;
            transition: 0.4;
            border-radius: var(--border-radius);

            &:hover {
                background-color: var(--surface-200);
            }

            &.active {
                background-color: var(--highlight-bg);
                color: var(--highlight-text-color);
                font-weight: 600;
            }
        }
    }

    .lists {
        .lists-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 7px 0 7px 20px;

            i {
                padding: 10px;
                border-radius: 100%;
                font-weight: 600;
                font-size: 1rem;
                cursor: pointer;

                &:hover {
                    background-color: var(--surface-50);
                }
            }
        }

        .lists-content {
            max-height: 0;
            overflow: hidden;
            transition: all 0.4s;
            margin-right: 28px;

            &.expanded {
                max-height: 45vh;
                overflow-y: auto;
            }
        }
    }

    .checkbox-wrapper {

        ::ng-deep {
            .p-checkbox-label {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 5px;
                max-width: 12rem;
            }
        }
    }
}