:host {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.page-loader {
    width: 100%;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;

        img {
            transform: perspective(500px) rotateY(-42deg);
            -webkit-transform: perspective(500px) rotateY(-42deg);
            -moz-transform: perspective(500px) rotateY(-42deg);
            -ms-transform: perspective(500px) rotateY(-42deg);
            -o-transform: perspective(500px) rotateY(-42deg);
            animation-name: rotate-windows;
            animation-iteration-count: infinite;
            animation-duration: 3s;
            animation-fill-mode: forwards;
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            span {
                margin-top: 24px;
                font-size: 1.5rem;
            }
        }
    }
}

@keyframes rotate-windows {
    0% {
        transform: perspective(500px) rotateY(-42deg);
        -webkit-transform: perspective(500px) rotateY(-42deg);
        -moz-transform: perspective(500px) rotateY(-42deg);
        -ms-transform: perspective(500px) rotateY(-42deg);
        -o-transform: perspective(500px) rotateY(-42deg);
    }

    50% {
        transform: perspective(500px) rotateY(0deg);
        -webkit-transform: perspective(500px) rotateY(0deg);
        -moz-transform: perspective(500px) rotateY(0deg);
        -ms-transform: perspective(500px) rotateY(0deg);
        -o-transform: perspective(500px) rotateY(0deg);
    }

    100% {
        transform: perspective(500px) rotateY(-42deg);
        -webkit-transform: perspective(500px) rotateY(-42deg);
        -moz-transform: perspective(500px) rotateY(-42deg);
        -ms-transform: perspective(500px) rotateY(-42deg);
        -o-transform: perspective(500px) rotateY(-42deg);
    }
}