.task-item {
    transition: 0.4s;
    border-radius: var(--border-radius);
    padding: 8px 0;
    user-select: none;
    cursor: pointer;

    &.completed {

        .task-title,
        .task-description {
            text-decoration: line-through;
        }
    }

    &.active {
        background-color: var(--highlight-bg);
        color: var(--highlight-text-color);
    }

    &:hover:not(.active) {
        background-color: var(--surface-100);
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        font-size: 0.9rem;
        color: var(--text-primary-color);

        .icon-wrapper {
            i {
                &:hover {
                    color: var(--primary-color);
                }

                &.pi-check {
                    color: var(--primary-color);
                    font-weight: 900;

                    &:hover {
                        color: var(--text-color);
                    }
                }
            }
        }
    }

    .description-row {
        display: flex;
        align-items: center;
        padding: 0 10px 0 10px;
        gap: 12px;

        small {
            color: var(--text-secondary-color);
            margin-left: 1.9rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .due-date-row {
        margin-top: 10px;
        margin-left: 32px;
    }

    .title-wrapper {
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: space-between;

        .task-title {
            font-weight: 500;
        }
    }

    .fixed-width {
        display: inline-block;
        width: 1rem;
    }

    .actions {
        display: flex;
        align-items: center;

        i {
            padding: 8px;
            border-radius: 100%;
            font-size: 1rem;

            &:hover {
                background-color: var(--surface-200);
            }

            &.pi-star-fill {
                color: var(--primary-color);
                font-weight: 900;
            }
        }
    }
}

.tag {
    border-radius: var(--border-radius);
    border: 2px solid var(--surface-400);
    padding: 2px 6px;
    font-size: 0.8rem;
    display: inline;
    transition: 0.4s;

    &.danger {
        border-color: var(--red-300);
        color: var(--red-500);

        &:hover {
            background-color: var(--red-300);
            color: var(--text-color);

            &:active {
                background-color: var(--red-500);
                color: var(--text-color);
            }
        }
    }

    &.info {
        border-color: var(--primary-300);
        color: var(--primary-500);

        &:hover {
            background-color: var(--highlight-bg);
            color: var(--highlight-text-color);

            &:active {
                background-color: var(--primary-500);
                color: var(--text-color);
            }
        }
    }

    &.secondary {
        border-color: var(--surface-300);
        color: var(--text-secondary-color);

        &:hover {
            background-color: var(--surface-300);
            color: var(--text-primary-color);

            &:active {
                background-color: var(--surface-500);
                color: var(--text-color);
            }
        }
    }

    &.warning {
        border-color: var(--orange-300);
        color: var(--orange-500);

        &:hover {
            background-color: var(--orange-300);
            color: var(--text-primary-color);

            &:active {
                background-color: var(--orange-500);
                color: var(--text-color);
            }
        }
    }
}