.all-tasks-page {
    height: 100%;

    .wrapper {
        display: flex;
        align-items: flex-start;
        overflow-x: auto;
        gap: 12px;
        padding: 10px 10px 0 10px;
        height: 100%;
    }

    .empty-lists {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
    }
}