main {
    display: flex;
    height: calc(100% - 4rem);
    position: relative;
    transition: 0.4s;
    overflow: hidden;

    .content {
        flex: 1;
        overflow: hidden;
    }

    .sidebar-wrapper {
        transition: 0.4s;
        position: relative;
        flex-shrink: 0;
        width: 20rem;

        &.slide-out {
            left: -100px;
        }
    }
}