<app-header (profileClicked)="aboutMeVisible = !aboutMeVisible"></app-header>
<app-page-loader *ngIf="loading" [@loading]></app-page-loader>
<main [ngClass]="{'animate-in': !loading}">
    <div class="sidebar-wrapper" *ngIf="sidebarVisible" [@slideInFromLeft]>
        <app-sidepanel></app-sidepanel>
    </div>
    <div class="content">
        <router-outlet />
    </div>
</main>

<p-sidebar [(visible)]="aboutMeVisible" (onHide)="aboutMeVisible = false" position="right">
    <app-about-me></app-about-me>
</p-sidebar>

<p-toast position="bottom-center" />