main {
    display: flex;
    height: calc(100% - 4rem);
    position: relative;
    overflow: hidden;

    transition: 1.6s ease-in;
    transform: translateY(100vh);
    opacity: 0;


    &.animate-in {
        transform: translateY(0);
        opacity: 1;
    }

    .content {
        flex: 1;
        overflow: hidden;
    }

    .sidebar-wrapper {
        transition: 0.4s;
        position: relative;
        flex-shrink: 0;
        width: 20rem;

        &.slide-out {
            left: -100px;
        }
    }
}