.my-day-page {
    padding: 16px 0;
    height: 100%;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    ::ng-deep {
        .p-card {
            width: 60vw;
        }
    }
}