:host {
    ::ng-deep {

        .p-card {
            min-width: 25rem;
            max-width: 30rem;
            max-height: calc(100vh - 100px)
        }

        .p-card-body {
            padding-top: 0;
        }

        .p-card-content {
            padding: 0;
        }
    }

    &:hover {
        box-shadow: 0.2px 1px 6px var(--surface-400);
    }
}


.header {
    padding: 16px 14px 10px 14px;
    margin-bottom: 8px;
    font-size: 1.275rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
        padding: 10px;
        border-radius: 100%;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
            background-color: var(--surface-50);
        }
    }
}

.add-task {
    display: inline-flex;
    align-items: center;
    width: 12rem;
    height: 30px;
    font-size: 0.9rem;
    color: var(--primary-color);
    gap: 10px;
    font-weight: 500;
    padding: 5px 7px;
    transition: 0.4s;
    border-radius: var(--border-radius);
    cursor: pointer;

    i {
        font-size: 1.275rem;
    }

    &:hover {
        background-color: var(--highlight-bg);
        color: var(--highlight-text-color);
    }

    &:active {
        background-color: var(--primary-color);
        color: var(--primary-color-text);
    }
}

.task-list {
    margin-bottom: 0px;

    .title {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-left: 3px;
        font-weight: 500;
        cursor: pointer;

        i {
            padding: 10px;
            border-radius: 100%;
            font-weight: 600;
            font-size: 1rem;

            &:hover {
                background-color: var(--surface-50);
            }
        }
    }

    .completed-tasks-list-wrapper {
        margin-top: 12px;
    }
}

.task-list-wrapper {
    overflow-y: auto;
    padding-right: 0.5rem;
    max-height: calc(100vh - 225px);
}

.empty-tasks,
.all-tasks-completed {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 8rem;
        margin-bottom: 18px;
    }

    .text-primary {
        font-size: 1.2rem;
        margin-bottom: 16px;
        font-weight: 500;
    }

    .text-secondary {
        font-size: 0.925rem;
        width: 15rem;
        text-align: center;
    }
}