<p-card class="listpanel-card" [style]="{ minWidth: '25vw'}">
    <ng-template pTemplate="header">
        <div class="header">
            <span>{{list.label}}</span>
            <i class="pi pi-ellipsis-v" *ngIf="!list.default" (click)="menu.toggle($event)"></i>
        </div>
    </ng-template>

    <div class="add-task" *ngIf="!hideAddTaskBtn" (click)="op.toggle($event)">
        <i class="pi pi-plus-circle"></i>
        <span>{{addTaskButtonText}}</span>
    </div>

    <div class="task-list-wrapper">
        <ng-container *ngIf="!noTasksTpl && tasks.length === 0" [ngTemplateOutlet]="noTasks"></ng-container>
        <ng-container *ngIf="noTasksTpl && tasks.length === 0" [ngTemplateOutlet]="noTasksTpl"></ng-container>
        <ng-container *ngIf="tasks.length === completeTasks.length && tasks.length !== 0"
            [ngTemplateOutlet]="allTasksCompleted"></ng-container>

        <app-task-item *ngFor="let task of incompleteTasks; trackBy:identify" [task]="task" [list]="list"
            [@listAnimation]></app-task-item>

        <div class="task-list complete" *ngIf="completeTasks.length !== 0">
            <div class="title" (click)="completedTasksExpanded = !completedTasksExpanded;">
                <span class="expand-collapse">
                    <i class="pi pi-angle-right" *ngIf="!completedTasksExpanded"></i>
                    <i class="pi pi-angle-down" *ngIf="completedTasksExpanded"></i>
                </span>
                <span>Completed (<span>{{completeTasks.length}}</span>)</span>
            </div>
            <ng-container *ngIf="completedTasksExpanded" class="completed-tasks-list-wrapper">
                <app-task-item *ngFor="let task of completeTasks" [task]="task" [list]="list"></app-task-item>
            </ng-container>
        </div>
    </div>
</p-card>





<p-menu #menu [model]="menuItems" [popup]="true" appendTo="body" />

<app-create-edit-list-modal [visible]="editModalVisible" [editMode]="true" [list]="list"
    (dismiss)="editModalVisible = false"></app-create-edit-list-modal>

<p-overlayPanel #op [dismissable]="false" [showCloseIcon]="true" [style]="{ width: '20rem'}">
    <app-create-edit-task [list]="list" variant="new-task" (dismiss)="op.hide();"
        (submit)="onSave($event); op.hide();"></app-create-edit-task>
</p-overlayPanel>

<ng-template #noTasks>
    <app-empty-content img="./empty-tasks.svg" title="No tasks yet"
        subtitle="Add your tasks here and we help you keep track of them!"></app-empty-content>
</ng-template>

<ng-template #allTasksCompleted>
    <app-empty-content img="./all-tasks-completed.svg" title="All tasks complete"
        subtitle="Nice work!"></app-empty-content>
</ng-template>